.defaultText {
  font-family: "Colfax-Light";
  text-anchor: start;
  fill: white;
  text-length: 32;
}

.label {
  font-size: 26;
  font-weight: bold;
  x: 5%;
}

.txtDataMain  {
  font-size: 32;
}

.txtListSleepTime {
  font-size: 22;
  x: 70;
}

.txtListFeedTime {
  font-size: 22;
}

.header {
  font-size: 24;
  text-anchor: middle;
  fill: fb-extra-dark-gray;
  x: 50%;
  y: 1%+24;
}

.background {
  width: 100%;
  height: 100%;
  fill: black;
}

.headRect {
  x: 0;
  y: 0;
  width : 100%;
  height: 12%;
}

.footRect {
  x: 0;
  y: 92%;
  width : 100%;
  height: 8%;
  fill: black;
}

.headLine {
  x1: 0;
  x2: 100%;
  y1: 12%;
  y2: 12%;
  stroke-width: 2;
  fill: fb-light-gray;
}

.bgList {
  x: 0;
  y: 12%+2;
  width: 100%;
  height: 80%;
  opacity: 1;
}

.listSleepItem {
  height: 60;
}