.defaultText {
  font-family: "Colfax-Light";
  text-anchor: start;
  fill: white;
  text-length: 32;
}

.label {
  font-size: 26;
  font-weight: bold;
  x: 5%;
}

.data  {
  font-size: 22;
  x: 10%;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}
